/******Date:2014-5-19 11:49 By:ShuLF For:2014 New Index******/
/* Reset */
body,ul,ol,li,p,h1,h2,h3,h4,h5,h6,dl,dt,dd,form,fieldset,table,td,img,div,input,textarea{margin:0;padding:0;}
body{ font-size:12px; font-family:simsun,arial; color:#333; background:#fff; }
ul,ol{ list-style-type:none; }
s,b,em,i{ font-style:normal; text-decoration:none; }
select,input,img,textarea{ vertical-align:middle; outline:none; }
textarea{ resize:none; }
a{ text-decoration:none; color:#666; }
/*a:link{ color:#009; }
a:visited{ color:#800080; }*/
a:hover,a:active,a:focus{ color:#f40; }
img { border: none;}
/* 自定义 */
.fl{float:left}
.fr{float:right}
.tc{text-align:center}
.fb{font-weight:bold}
.fn{font-weight:normal}
.bn{border:none !important}
.pr{position:relative}
.pa{position:absolute}
.dis{display:block}
.undis{display:none}
.oz{overflow:hidden;*zoom:1}
.cl{clear:both}
.clear:after{height:0;clear:both;content:".";visibility:hidden;display:block}
/*颜色*/
.f40, .topLogin a, .TopQuick a:hover, a.hot, .cateBox .cateLeft dd em a:hover, .hl { color:#f40 !important}
.gray { color:#666}
/*图片*/
.tSina, .tQq, .tWeixin, .cart s, .saleText s, .hotBrand li i, .mytools a s, .content .discount, .searchBtn, .flash-sale .favorite s { background-image:url(../images/shopin.png); background-repeat:no-repeat; }
/*z-index*/
.saleList li { z-index:1}
.hotBrand li { z-index:2}
#slide { z-index:3}
.categorys { z-index:4}
.categorys .cateBox { z-index:6}
.categorys .catehd { z-index:7}
#search { z-index:8}
.cart dl { z-index:9}
.shopCart, a:hover.shopCart{color:#fff}
.public { z-index:10}
.jSmart { z-index:20}
.mytools { z-index:99}
/*layout*/
.in{width:1200px;margin:0 auto}
/*页头*/
.had { text-align:center}
/*快速导航*/
#topNav { position: relative; z-index: 100; height:30px; line-height:30px; border-bottom:solid 1px #eaeaea; background:#f5f5f5}
#topNav, .TopQuick a { color:#666}
.topLogin a { margin-left:10px}
.topLogin a:hover { text-decoration:underline}
.TopQuick li { float:left;}
.separator { height:14px; line-height:14px; margin-top:8px; font-size:0; border-left:1px solid #ccc}
.TopQuick li a { padding:0 10px}
.public { margin-left:10px;}
.public,.public a { vertical-align:middle; _vertical-align:-4px;}
.tSina, .tQq, .tWeixin{display:inline-block;*display:inline;*zoom:1;width:25px;height:20px;padding:0!important;margin:0 5px; _margin-top:4px;overflow: hidden;}
.tSina { background-position:0 -68px}
.tQq { background-position:-25px -68px}
.tWeixin { background-position:-50px -68px}
.tCode{ right:0; top:30px; padding:10px 8px 5px; white-space:nowrap; border:solid 1px #eaeaea; background:#fff}
/*顶部条hover事件*/
.TopQuick .menuHd{z-index:102;position:relative;padding:0 6px;height:30px;line-height:30px;cursor:pointer;_display:inline;_zoom:1}
.TopQuick .menuHd span { float: left;}
.top-arrow-down{ float: left;width:16px;height:8px;margin-top:11px;_margin-top:8px;background:url(http://images.shopin.net/2014/images/arrow_down.png) center center no-repeat}
.TopQuick .menuBd{z-index:101;position:relative;display:none;margin-top:-1px}
.TopQuick .menuHover .menuHd{padding:0 5px 1px;border-width:0 1px;border-style:solid;border-color:#eee;background:#fff}
.TopQuick .menuHover .menuBd{display:block}
.TopQuick .menuBd .menuPanel{position:absolute;left:0;top:0;right:0;padding:2px 0 8px;line-height:normal;display:block;zoom:1;border:1px solid #eee;background:#fff}
.TopQuick .menuBd .menuPanel a{display:block;padding:0 8px;line-height:28px;white-space:nowrap;color:#6c6c6c}
.TopQuick .menuBd .menuPanel a:hover { color: #6c6c6c; background: #f5f5f5}
/*头部*/
#header { z-index: 9; height:60px; padding:12px 8px}
#logoArea { width:510px; height:60px}
.logoAd { left:180px; top:0}
/*搜索*/
#searchArea { width:450px; margin:4px 15px 0 0}
#search { height:32px; padding:3px; background:#f40}
.searchTxt { float:left; width:345px; height:20px; line-height:20px; overflow:hidden; zoom:1; padding:6px 5px; font-size:14px; font-family:'microsoft yahei'; outline:none; border:none; *border:0; resize:none; color:#868686}
.searchBtn { float:left; width:85px; height:32px; line-height:32px; font-size:14px; cursor:pointer; border:none; background:none; color:#fff}
.searchList { left:0; top:37px; width:357px; background:#fff; border:solid 1px #f20}
.searchList li { height:22px; line-height:22px; padding:1px 6px; cursor:pointer}
.searchList li.on { background:#ffdfc6}
#select .searchItem {  float:left; width:200px; white-space:nowrap; text-overflow:ellipsis; overflow:hidden; color:#666}
#select .searchCount { overflow:hidden; text-align:right; color:#aaa;}
.hotWords { height:30px; line-height:30px; overflow:hidden}
.hotWords a { margin-right:6px; color:#888}
.hotWords a:hover, .hotWords a.hl { color:#f40}
.hotWords a:hover { text-decoration:underline}
/*购物车*/
.cart { width:125px; height:38px; margin-top:4px; background:#f40}
.cart dt { line-height:38px; padding-left:35px; cursor:pointer; color:#fff}
.cart dt span { float:right; width:35px; height:38px; text-align:center; font-size:14px; font-family:'Microsoft YaHei',arial; background:#ff571a;}
.cart dt s { position:absolute; left:11px; top:11px; width:17px; height:17px; background-position:0 -88px}
.cart dd { right:0; top:37px; width:338px; background:#fff; border:solid 1px #f20}
.cart dd .nogoods { line-height:60px; color:#999}
/*2014年6月13日 13:45 建立 防重复提交*/
.cart .carta,.cart .carta:hover { display:block; color:#fff}
.mycartList p { height:35px; line-height:35px; padding:0 6px; background:#eee; border-bottom:solid 1px #d4d4d4; color:#555;}
.mycartList li { position:relative; height:50px; padding:10px; overflow:hidden; border-bottom:dotted 1px #999}
.mycartList li.on { background:#eee}
.mycartList li .cartImg { float:left; width:50px; height:50px; margin-right:10px; border:solid 1px #ccc}
.mycartList li .cartInfo h3 { width:180px; height:24px; margin-bottom:10px; white-space:nowrap; text-overflow:ellipsis; overflow:hidden; font:600 12px/24px 'microsoft yahei'}
.mycartList li .cartSize { font-family:Arial; color:#999}
.mycartList li .cartPrice { right:10px; top:14px; overflow:hidden; color:#f40}
.mycartList li .cartPrice span { margin-left:5px; font-size:11px; font-family:Arial; color:#333}
.cart .gocart { padding:15px 10px; text-align:right}
.cart .gocart strong { font-size:18px; font-family:Arial}
.cart .gocart a { display:inline-block; width:120px; height:30px; line-height:30px; margin-top:6px; text-align:center; font-weight:700; background:#f40; color:#fff}
.cart .gocart a:hover { background:#f20}
/*导航*/
.jSmart { width:100%}
#navgation, #cateMenu { height:40px; background:#f40}
#tomy { position:absolute; top:28px; width:28px; height:2px; line-height:2px; font-size:0; overflow:hidden; background:#fff}
.navBar li { float:left; height:20px; padding:9px 20px}
.navBar li a { float:left; display:block; height:20px; font:normal 14px/20px 'microsoft yahei'; color:#fff}
.navBar li a:hover { color:#fff}
/*品类*/
#cateMenu { box-shadow:1px 1px 3px #eee; background:#ccc}
.categorys { height:40px; font:normal 14px/20px 'microsoft yahei';}
.categorys .cateItem { float:left}
.categorys .catehd { float:left; position:relative; height:20px; line-height:20px; padding:9px 20px; cursor:pointer;}
.categorys .catehd.focus { padding:8px 19px 10px; background:#fff; border:solid 1px #999; border-bottom-color:#fff}
.categorys .catehd a, .categorys .catehd a:hover { color:#666}
.categorys .cateBox { display:none; position:absolute; left:0; top:39px; width:800px; line-height:22px; padding:20px; overflow:hidden; background:#fff; border:solid 1px #999}
.cateBox .cateLeft { float:left; width:560px}
.cateBox .cateLeft dt a { font-weight:600}
.cateBox .cateLeft dd { clear:both; margin-bottom:10px; overflow:hidden; zoom:1}
.cateBox .cateLeft dd:after{height:0;clear:both;content:".";visibility:hidden;display:block}
.cateBox .cateLeft dd em { float:left; margin:0 12px 0 0; font-size:12px; white-space:nowrap}
.cateBox a:hover { text-decoration:underline}
.cateBox .cateRight { _float:left; _width:240px}
.cateBox .cateRight h4 { margin-bottom:6px}
.cateBox .cateRight .recommendedbrand { line-height:22px; margin-bottom:20px; overflow:hidden; font-size:12px; border-bottom:solid 1px #eaeaea}
.cateBox .cateRight .recommendedbrand li { float:left; white-space:nowrap; margin-right:12px}
.cateBox .cateRight .salespromotion { overflow:hidden}
.cateBox .cateRight .salespromotion li { height:22px; white-space:nowrap; text-overflow:ellipsis; overflow:hidden}
/*焦点图*/
#slide {width:100%;position:relative;height:270px}
#slide .slider{margin:0 auto;position:relative;z-index:0;overflow:hidden;}
#slide .slider ul{width:100% !important;}
#slide .slider li{width:100% !important;height:270px;overflow:hidden;text-align:center;}
#slide .slider li a{display:block;height:270px;}
#slide .num { position:absolute; bottom:10px; width:100%; height:12px; margin:0 auto; text-align:center}
#slide .num ul li { display:inline-block; *display:inline; *zoom:1; width:24px; height:6px; line-height:999px; margin:0 3px; overflow:hidden; cursor:pointer; background-color:#000; filter:alpha(opacity=30); opacity:.3}
#slide .num ul .on { background-color:#f40; filter:alpha(opacity=100); opacity:1}
#slide .prev,#slide .next{display:block;position:absolute;z-index:1;top:50%;margin-top:-30px;left:5%;z-index:1;width:60px;height:60px;background:url(../images/arrow.png) no-repeat 0 0;cursor:pointer;}
#slide .prev:hover { background-position:0 bottom}
#slide .next{left:auto;right:5%;background-position:right 0;}
#slide .next:hover{ background-position:right bottom}
/**
 * @authors ShuLF
 * @date    2014-08-13 15:02:17
 * @version $Id$
 */
.hotBanner { padding-top: 10px;}
.hotBanner ul { margin-left: -10px; zoom:1;}
.hotBanner li { float: left; width: 390px; height: 80px; margin: 0 0 10px 10px; _display:inline; overflow: hidden;}
.hotBanner li img { width: 390px; height: 80px}
#waterfall ul { zoom:1; }
#waterfall li { float:left; height:auto; margin: 0 10px 10px 0; background: #fff; box-shadow: 0 1px 1px #d7d7d7; border: solid 1px #ccc; color: #666;}
#waterfall li:hover { border-color: #f40; }
#waterfall li .pic img { display: block; width: 100%; height: auto; vertical-align: middle; }
#waterfall li:hover img { opacity: .9; filter: Alpha(opacity=90); }
.flash-sale li { width:288px; color: #666; }
.flash-sale .pic { width:288px; height:auto; }
.flash-sale  li .text { padding: 17px 0; height: 36px; text-align: center; }
.flash-sale .discount { float: left; width: 140px; height: 36px; line-height: 36px; overflow: hidden; margin-right: 5px; border-right: solid 1px #bcbcbc; }
.flash-sale .discount strong { margin-right: 4px; font: 500 36px/36px Tahoma; color: #f40; }
.flash-sale .favorite { line-height: 18px; }
.flash-sale .favorite s { display: inline-block; *display: inline; *zoom:1; width: 17px; height: 17px; vertical-align: -4px; background-position: -34px -88px; }
.flash-sale .tag { height: 16px; line-height: 16px; white-space:nowrap; text-overflow:ellipsis; overflow:hidden; margin-top: 4px; font-weight: 700; }
.flash-sale  li .countDown { height: 30px; line-height: 30px; text-align: center; overflow: hidden; background: #f2f2f2; }
#loading { display: none; height: 30px; text-indent: -999em; overflow: hidden; background: url(../images/loading.gif) no-repeat center center; }
.pageMoreWrap { text-align: center; margin-bottom: 40px; }
.pageMore{ display:block; cursor:pointer; background:#e1e2e5; width:300px; height:36px; color:#51545b; font-weight:700; line-height:36px; text-align:center; margin:30px auto 40px; text-decoration:none; font-size:14px; position:relative; z-index:5; -webkit-transition:all ease .3s; -moz-transition:all ease .3s; transition:all ease .3s; }
/*频道单品列表*/
.recommend li { width:228px; }
.recommend li .text { height: 40px; padding: 10px 0 15px 15px;}
.recommend li .discount { position: absolute; left: 12px; top: -1px; width: 42px; height: 25px; line-height: 22px; text-align: center; background: url(../images/shark.png) no-repeat 0 0; color: #fff;}
.recommend li .tag { height: 24px; line-height: 24px; white-space:nowrap; text-overflow:ellipsis; overflow:hidden;}
.recommend li .favorite { float: right; width: 50px; height: 32px; padding-top: 3px; margin-top: 5px; text-align: center; border-left: solid 1px #ffc6af;}
.recommend li .favorite span { display: block;}
.recommend li .price strong { padding-left: 11px; font-size: 14px; background: url(../images/shopin.png) no-repeat 0 -140px; color: #f40}
.recommend li .price del { margin-left: 10px; color: #9c999c;}

/*body*/
/*闪购列表*/
.saleTitle { height: 27px; margin:15px 0; font-size:14px; font-family:'Microsoft YaHei'}
.saleTitle strong { margin-right:5px; font-weight:700; font-size:20px}
.saleList li { opacity:.9; filter:alpha(opacity=90); position:relative; _height:200px; margin-bottom:20px; overflow:hidden; border:solid 1px #eaeaea}
.saleList li.on { opacity:1; filter:alpha(opacity=100); border-color:#f40}
.saleList li .saleText, .saleList li .saleTextBg { position:absolute; right:0; bottom:-30px; z-index:10; width:528px; height:30px; padding:0 6px}
.saleList li .saleText { line-height:30px; text-align:left; color:#fff}
.saleList li .saleTextBg { z-index:9; background:#000; opacity:.6; filter:alpha(opacity="60")}
.saleList li .saleText s { float:left; height:17px; line-height:17px; padding:0 12px 0 8px; margin:6px 6px 0 0; background-position:right -34px}
.saleList .discount { position:absolute; left:20px; top:130px; width:220px; height:78px;}
.discount .sOff strong { margin-right:5px; font-size:30px; font-family:arial; color:#f40}
.discount .sTime { font-family:'microsoft yahei'}
.saleList .promotionmask { left: 0; top: 0; pointer-events: none;}

/*公告*/
.gonggao { position: absolute; right: 0; bottom: 0; overflow: hidden; width: 300px; height: 22px; line-height: 22px; font-size: 14px; color: #555;}
.news { margin-top:20px; border:solid 1px #eaeaea}
.news h3 { height:16px; line-height:16px; padding:10px 15px; margin-top:-1px; zoom:1; font-size:14px; font-family:'microsoft yahei'; border-top:solid 1px #eaeaea}
.news h3 a { float:right; *margin-top:-16px; *zoom:1; font-weight:normal; font-size:12px; font-family:simsun;}
.news .newsImg { margin:5px 0}
.news ul { padding:0 15px 10px}
.news ul li { _width:223px; height:28px; line-height:28px; white-space:nowrap; text-overflow:ellipsis; overflow:hidden}
.news ul li a:hover { text-decoration:underline}
/*热销品牌*/
.hotBrand { margin-top:20px}
.hotBrand h3 { height:16px; line-height:16px; padding:8px 0; font-size:14px; font-family:'microsoft yahei'; color:#000; border-bottom:solid 2px #000}
.hotBrand ul { border-bottom:solid 2px #000}
.hotBrand li { position:relative; float:left; width:50%; padding:20px 0; text-align:center; _margin-left:-1px; border-top:solid 1px #eaeaea}
.hotBrand li img { opacity:.8; filter:alpha(opacity=80); width:90px; height:45px; border:solid 1px #fff}
.hotBrand li.on img { opacity:1; filter:alpha(opacity=100); border-color:#f40}
.hotBrand li i { position:absolute; right:10px; top:10px; height:17px; line-height:17px; padding:0 8px 0 12px; background-position:0 -51px; color:#fff}
.hotBrand li i.emblem { background-position:0 0}
/*上品优势*/
.sidebar .promise { height:80px; margin-top:42px; background:#fff; background:url(../images/cx.png) no-repeat center 0\9}
.promise li { float:left; width:85px; text-indent:-9999em\9; overflow:hidden\9; cursor:default; font-family:'simhei'}
.promise li p { line-height:32px}
.promise li s { position:relative; display:inline-block; width:48px; height:48px; line-height:48px; font-weight:600; font-size:16px; border-radius:48px; background:none\9; background:#f40; color:#fff; -webkit-animation:smallToBig 1s ease 400ms; -moz-animation:smallToBig 1s ease 400ms; -ms-animation:smallToBig 1s ease 400ms}
.promise li s.hdfk { line-height:38px}
/*copy right*/
#footer { padding:40px 0 20px; margin-top:30px; background:#ccc}
#footer, #footer a, #footer a:hover { color:#8a8a8a}
#footer a:hover { text-decoration:underline;  color:#f40}
#footer .promise { height:80px; margin-bottom:40px; background:url(../images/fcx.png) no-repeat center 0}
.help dl{float:left;width:140px;line-height:28px;padding-left:80px; text-align:left; font-size:14px; font-family:simhei,'microsoft yahei'}
.help dl dt{margin-top:5px;font-weight:600}
.help dl dd { font-size:12px}
.help dl a:hover{color:#f40;text-decoration:none}
.bottomLink { padding:5px 0; margin-top:40px}
.bottomLink a { line-height:12px; padding:0 6px; border-right:solid 1px #a2a2a2}
#footer p { line-height:22px}
.authentication { height:38px; padding:10px 0; background:#fff}
.authentication span { margin:0 4px}
/*返回顶部*/
.mytools { width:64px ; height:105px; overflow:hidden;}
.mytools a { display:block; height:20px; padding-top:30px; margin-bottom:5px; text-align:center; white-space:nowrap; color:#fff}
.mytools a:hover { color:#fff}
.mytools a s { position:absolute; left:50%; top:7px; width:17px; height:17px; margin-left:-9px; zoom:1}
.mytools a.subcart { background:#f40}
.mytools a.backToTop { background:#000}
.mytools a.subcart s { background-position:0 -88px}
.mytools a.backToTop s { background-position:-17px -88px}
.mytools a.backToTop:hover { background:#f40}
/*列表页*/
.promotion { width:100%; height:240px; overflow:hidden}
.promotionWrap { left:50%; top:0; width:1100px; height:240px; margin-left:-550px; zoom:1}
.promotion .promotionInfo { left:0; top:20px; width:220px; height:200px; padding:0 30px; overflow:hidden; background:#fff}
.promotionTop { width:220px; height:115px; display:table-cell; vertical-align:middle; *display:block; *font-size:100px; *font-family:Arial;/*图片垂直居中*/ border-bottom:solid 2px #eaeaea}
.promotionTop img {vertical-align:middle;}
.promotionBottom { padding-top:10px}
/*搜索顶部分类*/
.searchTopbar { position: relative; height:24px; padding:13px 125px 13px 15px; margin-top:20px; background:#fff; border:solid 1px #e4e4e4}
.searchTopbar ul { height: 24px; overflow: hidden;}
.searchTopbar li { float:left; padding:0 13px; line-height:24px; font-size:14px; font-family:microsoft yahei; color:#666}
.searchTopbar a { display:block; _float:left; height:22px;}
.searchTopbar a.on { color:#000; border-bottom:solid 2px #000}
.searchTopbar .more { position: absolute; right: 10px; top: 10px; width: 103px; height: 28px; text-indent: -200px; overflow: hidden; background: url(http://images.shopin.net/2014/images/more.png) 0 0 no-repeat;}
/*排序*/
.sortbar { width:1101px; height:40px; line-height:40px; margin-top:10px; background:#e4e4e4}
.sortbar li { float:left; font-size:14px; font-family:microsoft yahei;}
.sortbar a { position:relative; display:block; _float:left; height:40px;}
.sortbar i { position:absolute; right:22px; top:50%; width:11px; height:12px; line-height:12px; margin-top:-4px; *zoom:1; overflow:hidden; background-image:url(../images/sprite.gif); background-repeat:no-repeat}
.sortbar .sortcut { position:relative; top:19px; width:0; height:12px; line-height:12px; padding:0; overflow:hidden; border-left:solid 1px #d8d8d8}
.sortleft a { padding:0 40px 0 20px}
.sortleft a:hover, .sortleft a.on { background:#f40; color:#fff}
.sortleft i { background-position:0 -17px}
.sortleft .on i, .sortleft a:hover i { background-position:0 -29px}
.sortleft .up i { background-position:-20px -17px}
.sortleft .on.up i, .sortleft .up:hover i { background-position:-20px -29px}
.sortleft a.sortPrice i { right:15px; width:20px}
/*区间筛选*/
.sortbar .range { height:24px; padding:9px 0 7px 16px}
.sortbar .range ul li { position:relative; z-index:1; line-height:24px}
.sortbar .range .sep { width:8px; padding:0 3px; text-align:center}
.sortbar .range .input { width:32px; height:20px; line-height:20px; overflow:hidden; vertical-align: top; border:solid 1px #bebebe}
.sortbar .prices .input {  padding-left:15px}
.sortbar .discount .input { width:29px; padding-right:18px; text-align:right}
.sortbar .range .btnli { padding-left:5px}
.sortbar .range .btn { width:42px; height:22px; vertical-align: top; cursor:pointer; background:#f40; border:none; color:#fff}
.sortbar .range s { position:absolute; left:3px; top:5px; width:12px; height:12px; text-align:center; font:500 10px arial; color:#999}
.sortbar .discount s { left:auto; right:4px}
.sortbar .range .btnli { display:none}
.sortbar .rangeHover { position:relative; z-index:11; padding-right:19px; margin-right:-66px; box-shadow:0 0 4px #ccc; background:#fff}
.sortbar .rangeHover .btnli { display:block}

/*顶部分页*/
.sortright, .sortright a { color:#000}
.sortright li { margin-right:15px}
.sortright .pageInfo { margin-right:30px}
.sortright a:hover { color:#f40}
.sortright .prev { padding-left:13px}
.sortright .next { padding-right:13px}
.sortright .prev i { left:5px; right:auto; width:5px; height:9px; background-position:-9px -41px}
.sortright .next i { right:5px; width:5px; height:9px; background-position:-13px -41px}
.sortright .prev:hover i { background-position:-18px -41px}
.sortright .next:hover i { background-position:-22px -41px}
.sortright .disabled, .sortright .disabled:hover { cursor:default; color:#999}
.sortright .disabled i { background-position:0 -41px}
.sortright .disabled:hover i { background-position:0 -41px}
.sortright .next.disabled i { right:5px; width:5px; background-position:-4px -41px}
/*商品列表*/
.content ul { width:1100px; margin-left:1px}
.content li { position:relative; z-index:1; float:left; width:200px; height:254px; padding:10px 37px; margin:0 0 -1px -1px; zoom:1; border:solid 1px #eaeaea}
.content li.on { z-index:2; border:solid 1px #f40}
.content .productImg { display:block; color:#000}
.content .productImg:hover, .content .productImg:hover h3 { text-decoration:underline; color:#f40}
.content .productName { width:200px; height:16px; white-space:nowrap; text-overflow:ellipsis; overflow:hidden; font:500 14px/16px 'microsoft yahei'}
.content .price { font:700 18px/30px arial; vertical-align:-3px; color:#f40;}
.content .discount { display:inline-block; *display:inline; *zoom:1; height:17px; line-height:17px; padding:0 8px 0 12px; margin:0 11px 0 4px; background-position:0 -51px; color:#fff}
.content .productAttrs, .content .bg { display:none; position:absolute; left:36px; top:170px; width:200px; height:36px; overflow:hidden}
.content .bg { background:#fff; opacity:.6; filter:alpha(opacity=60)}
.content .productAttrs { width:180px; height:22px; padding:8px 10px; text-align:center;}
.content .attrsin { width:185px; height:22px; overflow:hidden}
.content .attrValue { float:left; display:inline-block; *display:inline; *zoom:1; height:16px; line-height:16px; padding:2px 6px; margin-right:5px; overflow:hidden; font:500 12px 'microsoft yahei'; background:#fff; border:solid 1px #dedede; color:#666}
.content .productAttrs .prev, .content .productAttrs .next { position:absolute; left:0; top:15px; width:5px; height:9px; cursor:pointer; background:url(../images/sprite.gif) no-repeat 0 -41px;}
.content .productAttrs .next { left:auto; right:0; background-position:-4px -41px}
.content .productAttrs .prev:hover { background-position:-18px -41px}
.content .productAttrs .next:hover { background-position:-22px -41px}
.content .on .productAttrs, .content .on .bg { display:block}
.content .unList { height:300px; padding:0 0 0 380px; background:url(../images/warn.png) no-repeat 280px center; border:solid 1px #eaeaea; border-top:none}
.content .unList h2 { margin:115px 0 16px}
.content .unList .signpost { font-size:18px}
/*分页*/
.pagination { height:40px; margin-top:20px; font:500 14px 'microsoft yahei'}
.pagination li { float:left; line-height:38px; margin-left:10px; _display:inline}
.pagination .pageInfo { margin-right:30px}
.pagination li a { position:relative; float:left; height:38px; line-height:38px; padding:0 18px; background:#fff; border:solid 1px #eaeaea;}
.pagination li a.cur, .pagination li a:hover { background:#f40; border-color:#f40; color:#fff}
.pagination .prev i, .pagination .next i { position:absolute; width:5px; height:9px; left:12px; top:15px; background-image:url(http://images.shopin.net/2014/images/sprite.gif); background-repeat:no-repeat}
.pagination .prev:hover, .pagination .next:hover { background:#fff; color:#f40}
.pagination .prev { padding-left:24px}
.pagination .next { padding-right:24px}
.pagination .prev i { background-position:0 -41px}
.pagination .next i { left:auto; right:12px; background-position:-4px -41px}
.pagination .prev:hover i { background-position:-18px -41px}
.pagination .next:hover i { background-position:-22px -41px}
.pagination li span { float:left; height:38px; line-height:38px; padding:0 8px;}
/*面包屑导航*/
.crumb { line-height:36px; color:#666}
/*筛选*/
.filter { margin-bottom:15px; line-height:26px; zoom:1; font-family:microsoft yahei; border:solid 1px #e4e4e4}
.filter dt { float:left; width:80px; padding-right:20px; text-align:right; color:#666}
.filter dd a { color:#000}
.filter dd a:hover { color:#f40}
.filter .selected { height:26px; padding:5px 0; zoom:1; background:#e4e4e4}
.filter .selected li { float:left}
.filter .selected li a { position:relative; float:left; padding:0 10px; border-right:solid 30px #ccc; background:#fff}
.filter .empty { right:10px; top:5px; _right:-15px}
.filter .filAttrs { padding:5px 120px 5px 0; border-top:solid 1px #e4e4e4}
.filter .Fvalues a { display:inline-block; margin-right:40px; white-space:nowrap}
.filter .Fmore, .filter .Fmulti { position:absolute; top:5px; padding-right:20px}
.filter .Fmore i, .filter .Fmulti i, .filterSwitch i { position:absolute; right:5px; top:12px; width:9px; height:5px; line-height:5px; overflow:hidden; background:url(http://images.shopin.net/2014/images/sprite.gif) no-repeat -27px -41px}
.filter .Fmore { right:20px;}
.filter .Fmulti { right:60px}
.filter .cancelSel { position:absolute; right:-19px; top:11px; width:9px; height:9px; background:url(../images/sprite.gif) no-repeat -27px -41px}
.filter .advanced { text-align:right; height:0}
.filterSwitch { display:inline-block; *display:inline; *zoom:1; margin-bottom:-30px; height:30px; line-height:30px; padding:0 30px 0 20px; cursor:pointer; background:#e4e4e4}
.filterSwitch i { right:15px}
.attrExtra { display:inline !important}
.filter .fold i, .retract i { background-position:-27px -45px}

/*发现页面*/

.w_main_l { float: left; width: 900px; min-height: 800px; overflow: hidden; }
.w_main_l .saleTitle { margin-bottom: -5px; zoom:1;}
.SP_feed { overflow: hidden; padding: 20px 0; border-bottom: solid 1px #ebebeb;}
.SP_pic { float: left; width: 80px; }
.SP_detail { overflow: hidden; margin-left: 95px; _margin-left:92px; _zoom:1; }
.SP_store_name { font-weight: 700; color: #ff4a01}
.SP_text { line-height: 24px; padding: 4px 0; }
.SP_text .a_topic { margin-right: 5px; }
.SP_media{ margin-right: -20px; padding: 0 0 15px; overflow:hidden; zoom:1; }
.SP_media li{ float:left; width:150px; height:150px; text-align:center; line-height:150px; margin: 5px 0 0 10px; *font-size:125px; overflow: hidden; }
.SP_media li:after{ content:' '; vertical-align:middle; }
.SP_media li img{ vertical-align:middle; width: 150px; }
.SP_func { margin-bottom: 10px;}
.SP_func { line-height: 22px; text-align: right; }
.SP_func span { float: left;}
.SP_feed span { color: #6c6c6c; }
.SP_func a { display: inline-block; padding: 0 10px;}
.SP_func i { margin-right: 3px; vertical-align: -3px; *vertical-align: -1px; cursor: pointer; }
.ui_icon { display: inline-block; zoom:1; width: 15px; height: 15px; background-image: url(../images/icon.png); background-repeat: no-repeat; }
.SP_feed .icon_praise { background-position: 0 -23px; }
.SP_feed .icon_comment { background-position: 0 -69px; }
.SP_func a:hover { background: #ff4a00; color: #fff; }
.SP_func a:hover .icon_praise { background-position: 0 0; }
.SP_func a:hover .icon_comment { background-position: 0 -46px; }
.SP_comment { line-height: 22px; background: #f2f2f2; }
.SP_feed .icon_btn { float: left; position: relative; width: 36px; margin-top: 8px; text-align: center;}
.SP_comment .SP_like { overflow: hidden; border-bottom: solid 1px #ebebeb;}
.SP_comment .like_list { height: 22px; padding: 5px 0;}
.SP_comment .mod_comments { padding-bottom:15px; padding-right: 36px; border-top: solid 1px #fff;}
.SP_feed .comments_list { overflow: hidden;}
.SP_feed .comments_list li { padding: 5px 0; border-bottom: solid 1px #ebebeb;}
.SP_feed .comments_list a { color: #ff4a00;}
.comments_func .act-reply { margin-left: 5px;}
.comments_func .act-reply i { vertical-align: middle;}
.ui-icon { display: inline-block; background-repeat: no-repeat; font-size: 0; overflow: hidden; -webkit-text-size-adjust: none; }
.commnets_poster { position: relative; padding-right: 82px; margin: 10px 0 0 36px; background: #fff; border: solid 1px #cccccc;}
.commnets_box { width: 100%; line-height: 20px; height: 60px; outline: 0; padding: 3px; border: none; border: 0; word-wrap: break-word; overflow-x: hidden; overflow-y: auto; }
.commnets_poster .txt { position: absolute; right: 10px; bottom: 10px; width: 62px; height: 32px; line-height: 32px; text-align: center; border-radius: 3px; background: #ff4a00; color: #fff;}

/*门店信息*/
.w_main_r { float: right; width: 290px; margin-top: 20px; overflow: hidden;}
.store_atten { padding: 0 2%; height: 72px; border: solid 1px #ccc; border-top: none;}
.store_atten li { float: left; width: 32%; text-align: center; line-height: 20px; padding: 16px 0; color: #666;}
.store_atten li span { display: block;}
#follow_store { position: relative; display: block; width: 60px; margin: 0 auto; background: #ff4a00; color: #fff;}
.store_atten li i { position: absolute; right: 0; top: 27px; display: none; width: 180px; background: #8dce00; color: #fff;}
.store_atten li i b { position: absolute; color: #8dce00; right: 24px; top: -10px;}
#follow_store:hover i { display: block;}
.SP_weixin {margin-top: 10px; border: solid 1px #ccc;}
.SP_briefing, .SP_store_address { line-height: 28px; padding: 10px 0; border-bottom: dotted 1px #ccc; color: #333;}
.SP_briefing p { text-indent: 2em; margin-top: 3px;}
.store_map { width: 290px; height: 300px;}
/*404*/
.notFound { margin-top:10px; border-top:solid 1px #ccc}
.notFound .errorWrap { height:273px; padding:50px 0 100px 606px; background:url(../images/404.png) no-repeat 186px 50px}
.errorWrap h2 { margin:120px 0 26px; font:700 24px 'microsoft yahei'; color:#000}
.errorWrap .signpost { font:700 16px 'microsoft yahei'; color:#000}
.errorWrap .signpost a, .errorWrap .signpost a:hover { margin:0 10px; color:#f40}
.errorWrap .signpost a:hover { text-decoration:underline}
.notFound .title { height:40px; line-height:40px; background:#f5f5f5; border:solid 1px #eaeaea}
.notFound .title h3 { display:inline-block; *display:inline; *zoom:1; padding:0 38px; height:42px; position:relative; top:-1px; background:#fff; border-top:solid 2px #f40; border-right:solid 1px #eaeaea}
.notFound .content { padding:20px 0 1px; border:solid 1px #eaeaea; border-top:none}
.notFound .content li { border-color:#fff}

/*css3*/
.transition, .transition:hover { transition:all 0.2s ease-in-out 0s; -moz-transition:all 0.2s ease-in-out 0s; -ms-transition:all 0.2s ease-in-out 0s; -o-transition:all 0.2s ease-in-out 0s; -webkit-transition:all 0.2s ease-in-out 0s;}
.transition {-moz-transition:all 0.2s ease-in-out; -webkit-transition:all 0.2s ease-in-out; -ms-transition:all 0.3s ease-in-out; -o-transition:all 0.3s ease 0s; transition:all 0.2s ease-in-out;}
@-webkit-keyframes smallToBig{
	0% { -webkit-transform:scale(1)}
	25% { -webkit-transform:scale(0.1)}
	50% { -webkit-transform:scale(1.2)}
	100% { -webkit-transform:scale(1)}
}
@-moz-keyframes smallToBig{
	0% { -webkit-transform:scale(1)}
	25% { -webkit-transform:scale(0.1)}
	50% { -webkit-transform:scale(1.2)}
	100% { -webkit-transform:scale(1)}
}
@-ms-keyframes smallToBig{
	0% { -webkit-transform:scale(1)}
	25% { -webkit-transform:scale(0.1)}
	50% { -webkit-transform:scale(1.2)}
	100% { -webkit-transform:scale(1)}
}
/*add两块豆腐块*/
.cat-wrap{color:#3c3c3c;float:left;margin-top:10px;overflow:hidden;padding:0;width:585px}
.cat-wrap-orange{margin-right:20px}
.cat-wrap-orange .cat-hd{background-color:#ff2700}
.cat-wrap-blue .cat-hd{background-color:#43dbf3}
.cat-hd{color:#fff;font-family:"Microsoft YaHei";height:25px;line-height:25px;border-right:1px solid #e8e8e8}
.cat-hd h3{float:left;display:inline;font-size:16px;font-weight:700;line-height:17px;margin-left:16px;margin-top:4px;width:100px;}
.cat-hd a,.cat-hd h3 a:hover{color:#fff}
.cat-hd a:hover{text-decoration:underline}
.cat-hd .act-arrow{position:relative}
.cat-hd .activity{float:left;height:17px;margin-top:4px;position:relative;width:136px;text-align:center}
.cat-hd .activity-bg{background:url(http://images.shopin.net/2014/images/list-arrow.gif) 0 0 no-repeat;height:100%;opacity:0.8;position:absolute;left:0;width:100%;z-index:1}
.cat-wrap-orange .cat-hd .activity a{color:#ff2700}
.cat-wrap-blue .cat-hd .activity a{color:#1bb0c7}
.cat-hd .activity a{display:block;height:17px;left:5px;line-height:19px;overflow:hidden;position:absolute;top:0;width:131px;z-index:2}
.cat-hd .cat-tags{float:right;margin-right:15px}
.cat-bd{border:1px solid #e8e8e8;border-top:none;height:198px;transition-duration:0.5s;transition-property:border}
.cat-list{float:left;overflow:hidden;padding-left:15px;width:355px}
.cat-list ul{overflow:hidden;zoom:1}
.cat-list .list-item{padding:10px 0}
.bottom-border{border-bottom:1px solid #eee}
.cat-list li{color:#6c6c6c;float:left;line-height:26px;padding:0 12px 0 5px;text-decoration:none}
.cat-list .item-header{padding-right:8px;width:56px}
.cat-list .item-header a{color:#3a3a3a;font-size:12px;font-weight:700}
.cat-list .item-header .em,.cat-list .item-header a:hover{color:#ff4201}
.cat-list .item-header .em:hover,.cat-list li .em:hover{text-decoration:underline}
.cat-list .em{color:#ff4201}
.cat-bd .cat-banner{display:block;float:right;background-color:#eee}
.cat-bd .cat-banner .cat-banner-image{display:block;height:198px;width:198px}

